<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Prestadores em sua região</h2>
        <div class="lista-grids">
            {% for p in prestadores %}
            <div class="prestador-card">
                <h3>{{ p.nome }}</h3>
                <p><b>Profissão:</b> {{ p.profissao }}</p>
                <p><b>Bairro:</b> {{ p.bairro }}</p>
                <a href="/contratar/{{ p.id }}" class="btn-salvar">Contratar</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>